/*.title {
    text-align: center;
    background-color: gray;
    position: absolute;
    margin-top: -50px;
    margin-left: 4px;

    width:98%;
    height:80%;
    transform: skewY(4deg); 
    border:2px solid black
} */

.title{
    position: relative;
    background-color: whitesmoke;
    height: 450px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.title::after{
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	transform-origin: bottom left;
	transform: skewY(5deg);
    z-index: -10;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.aboutMe{
    display: flex;
    float: left;
    margin-top: 70px;
    position: relative;
    background-color: whitesmoke;
    width: 48.5%;
    height: 500px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.aboutMe::after{ /*diagonal de la derecha */
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	transform-origin: top left;
	transform: skew(5deg);
    z-index: -10;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.aboutMe::before{ /*diagonal del top*/
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	top: 0;
    left: 0;
	background-color: whitesmoke;
	transform-origin: top right;
	transform: skewY(5deg);
    z-index: -10;
    margin-top: -3px;
    margin-left: -2px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.aboutMeText{
    display: flex;
    float: right;
    margin-top: 130px;
    position: relative;
    background-color: whitesmoke;
    width: 47%;
    height: 440px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.aboutMeText::after{ /*diagonal de la izquierda*/
    position: absolute;
	content: "";
	width: 10%;
	height: 113%;
	top: 0;
    left: 0;
	background-color: whitesmoke;
    transform-origin: top left;
    margin-top: -61px;
    margin-left: -45.5px;
	transform: skew(5deg, 4deg);
    z-index: -10;
    border-top: 2px solid black;
    border-bottom: 2px solid transparent;
    border-left: 2px solid black;
} 

.aboutMeText::before{ /*diagonal del top*/
	position: absolute;
	content: "";
	width: 99.9%;
	height: 51%;
	top: 0;
    left: 0;
	background-color: whitesmoke;
	transform-origin: top right;
	transform: skewY(5deg);
    z-index: -10;
    margin-top: -3px;
    margin-left: -2px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.skillsPhoto{
    display: flex;
    float: left;
    margin-top: 70px;
    position: relative;
    background-color: whitesmoke;
    width: 40%;
    height: 700px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    margin-top: 10px;
}

.skillsPhoto::after{ /*diagonal de la izquierda*/
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	transform-origin: top left;
	transform: skew(-5deg);
    z-index: -10;
    border-top: 2px solid black;
    border-right: 2px solid black;
    margin-left: 62px;
    margin-top: -2px;
} 

.skillsPhoto::before{ /*diagonal del top*/
	position: absolute;
	content: "";
	width: 99.9%;
	height: 51%;
	top: 0;
    left: 0;
	background-color: whitesmoke;
	transform-origin: top right;
	transform: skewY(-15deg);
    z-index: -10;
    margin-top: 342px;
    margin-left: -2px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.skills{
    display: flex;
    float: right;
    margin-top: 70px;
    position: relative;
    background-color: whitesmoke;
    width: 50%;
    height: 400px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.skills::after{ /*diagonal de la izquierda*/
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	transform-origin: top right;
	transform: skew(-5deg);
    z-index: -10;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: -55px;
    margin-top: -2px;
} 

.skills2{
    display: flex;
    float: right;
    margin-top: 70px;
    position: relative;
    background-color: whitesmoke;
    width: 52.65%;
    height: 285px;;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 10px;
}

.skills2::after{ /*diagonal de la izquierda*/
    position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: whitesmoke;
	transform-origin: top right;
	transform: skew(-5deg);
    z-index: -10;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: -55px;
    margin-top: -2px;
} 

.project1{ /*data lovers*/
    display: flex;
    float: left;
    position: relative;
    background-color: whitesmoke;
    width: 48%;
    height: 400px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 160px;
}

.project1::after{ /*diagonal de la izquierda*/
    
} 

.project1::before{ /*diagonal del top*/
	position: absolute;
	content: "";
	width: 83.5%;
	height: 51%;
	top: 0;
    left: 0;
	background-color: whitesmoke;
	transform-origin: top right;
	transform: skewY(-15deg);
    z-index: -10;
    margin-left: -2px;
    margin-top: -148px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

